extends layout

block content
  .content-container
    div.category-container
      ul.category-scroller
        li.category.selected
          a(href=selected_category.url) #{selected_category.name}

        li.category-separator

        li
          a.category(href="/inventory") All Games

        each category in category_list
          li
            a.category(href=category.url) #{category.name}

    div.cards-container
      if game_list.length > 0
        each game in game_list
          div.card
            a(href=game.url)
              div.image(style="background-image: url('"+ game.imgUrl + "')")
      
            a(href=game.url)
              h1 #{game.name}
            div.tags
              each category in game.categories
                a.tag(href=category.url) #{category.name}
      else
        .empty-category
          h1 Oops, looks like there's nothing in here
          img(src="/images/dead_mario.png", alt="Defeated Mario")

          button(id="show-delete-category-modal-btn") Delete category

    input#menu-toggle(type='checkbox' name="menu-toggle")
    label.floating-btn-label(for='menu-toggle')
      i#open.material-icons add
      i#close.material-icons close
    ul#menu
      li
        a.floating-btn-link(href='/inventory/game/create')
          i.material-icons videogame_asset
          | New Game
      li
        a.floating-btn-link(href='/inventory/category/create')
          i.material-icons category
          | New Category


    .modal.hide(id="delete-category-modal")
      form.delete-form(action=`/inventory/category/${selected_category._id}/delete`, method="POST")
        h1 Delete category
        p 
          | This action will remove the category from the database and cannot be undone.
          br
          br
          | Are you sure you want to delete #[em '#{selected_category.name}']?

        .buttons-container
          button.form-btn-submit.cancel(type="button" id="delete-category-cancel-btn") Cancel
          button.form-btn-submit(type="submit") Yes

  script(src="/javascripts/category.js")