extends layout

block content
  .content-container.full
    .game-container
      div.image(style="background-image: url('" + game.imgUrl + "')")

      .game-details-wrapper
        .game-details
          h1 #{game.name}
          div.tags
            each category in game.categories
              a.tag(href=category.url) #{category.name}

          p 
            strong Description: 
            | #{game.description}

          a.amazon-btn(href=`https://amazon.com/s?k=${encodeURI(game.name)}` target="_blank")
            | 
            span  
            | Buy on Amazon
        
        .game-options
          a.option(href=`/inventory/game/${game._id}/update`) edit

          button.option(id="show-delete-modal-btn") delete
  
    .modal.hide(id="delete-modal")
      form.delete-form(action=`/inventory/game/${game._id}/delete`, method="POST")
        h1 Delete game
        p 
          | This action will remove the game from the database and cannot be undone.
          br
          br
          | Are you sure you want to delete #[em '#{game.name}']?

        .buttons-container
          button.form-btn-submit.cancel(type="button" id="delete-cancel-btn") Cancel
          button.form-btn-submit(type="submit") Yes

  script(src="/javascripts/game.js")