extends layout

block content
  .content-container.full
    .game-container
      div.image(style="background-image: url('" + game.imgUrl + "')")

      .game-details-wrapper
        .game-details
          h1 #{game.name}
          div.tags
            each category in game.categories
              a.tag(href=category.url) #{category.name}

          p 
            strong Description: 
            | #{game.description}

          a.amazon-btn(href=`https://amazon.com/s?k=${encodeURI(game.name)}` target="_blank")
            | 
            span  
            | Buy on Amazon
        
        .game-options
          a.option(href=`/inventory/game/${game._id}/update`) edit

          a.option(href=`/inventory/game/${game._id}/delete`) delete
