extends layout

block content
  //- ul.action-btns-container
  //-   li.action-btn.category.selected
  //-     a(href="/inventory") All Games
  //-   li.action-btn.search-btn
  //-     input(type='text' name='search', placeholder='Search for a category')

  div.category-container
    ul.category-scroller
      li.category.selected
        a(href="/inventory") All Games
      li.category
        a(href="/inventory/game/create") Create Game
      li.category
        a(href="/inventory/game/123/update") Update Game

      each category in category_list
        li.category
          a(href=category.url) #{category.name}

  div.cards-container
    each game in game_list
      div.card
        a(href=game.url)
          div.image(style="background-image: url('"+ game.imgUrl + "')")
  
        a(href=game.url)
          h1 #{game.name}
        div.tags
          each category in game.categories
            a.tag(href=category.url) #{category.name}
